*.egg-info
__pycache__
dist/
*.pyc
.venv/
.coverage
coverage.xml
.pytest_cache/
python-project-50/file1.json
python-project-50/file2.json
python-project-50/filepath1.yml
python-project-50/filepath2.yml
.vim
.idea/